@use "../../essentials/mixins" as*;
@use "../../essentials/variables" as*;

.team {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  background-color: $color-2;
  margin: 0;
  padding: 80px 160px 60px;
  overflow-x: hidden;
}

.team__figure {
  @include circles-desk;
  @include null-spacing;
}
.team__semi-circle-black {
  top: 926px;
  height: 440px;
  left: 0;
}

.team__quarter-green {
  top: 926px + 220px;
  width: 220px;
  left: 0;
}

.team__circle-green {
  top: 926px;
  width: 440px;
  left: 220px;
  padding: 0;
}

.team__member-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @include null-spacing;
  gap: 11px;
}

.team__member-photo {
  display: block;
  width: 320px;
  height: 320px;
  padding: 0;
  margin: 0 0 20px;
}

.team__member-name {
  display: block;
  @include medium-text-desktop;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: $font-color;
  @include null-spacing;
}

.team__member-about {
  display: block;
  @include medium-text-desktop;
  color: $font-color;
  @include null-spacing;
}

.team__slider {
  height: 450px;
  margin: 110px 0 215px;
}

@media screen and (max-width: 1280px) {
  .team {
    padding: 90px 80px 90px;
  }

  .team__semi-circle-black {
    left: -180px;
  }

  .team__quarter-green {
    left: -180px;
  }

  .team__circle-green {
    left: 40px;
  }

  .team__slider {
    height: 450px;
    margin: 110px 0 251px;
  }
}

@media screen and (max-width: 1080px) {
  .team {
    background-image: url(../../images/Green-rings-full.svg);
    background-repeat: no-repeat;
    background-size: 360px;
    background-position: left -180px bottom 50px;
    padding: 50px 50px 60px;
  }

  .team__figure {
    display: none;
  }

  .team__slider {
    margin: 140px 0 140px;
  }
}

@media screen and (max-width: 767px) {
  .team {
    background-image: url(../../images/mobile-green-semi-circle.svg);
    background-size: 280px;
    background-position: bottom;
    padding: 22px 20px 0;
  }

  .team__member-photo {
    width: 280px;
    height: 280px;
    padding: 0;
    margin: 0 0 10px;
  }

  .team__member-name {
    font-size: 18px;
    letter-spacing: (23.4px) / 18px;
  }

  .team__member-about {
    @include medium-text-mobile;
    margin-top: -10px;
  }
  .team__member-card {
    align-items: center;
  }
  .team__slider {
    height: 390px;
    margin: 60px 0 57px;
  }
}
