$font-color: rgba(255, 255, 255, 1);
$font-family: 'Noto Sans';
$gen-width: 1440px;
$color-1: rgba(0, 0, 0, 1);
$color-2: rgba(80, 54, 230, 1);
$font-color: rgba(255, 255, 255, 1);
$green: rgba(0, 148, 101, 1);
$font-family: 'Noto Sans';
$hover: rgba(6, 108, 76, 1);
