@use "../../essentials/mixins" as*;
@use "../../essentials/variables" as*;

.header {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 100%;
  background-image: url(../../images/blue-rings-header.svg);
  background-repeat: no-repeat;
  background-position: right 150px;
  padding: 26px 0 80px 160px;
  margin: 0;
  overflow-x: hidden;
}

.header__upper-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0 160px 0 0;
}

.header__action {
  display: block;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  line-height: (16.5px)/15px;
  color: $font-color;
  padding: 0;
  margin: 0 54px 0 auto;
  cursor: pointer;
  transition: ease-out;
  transition-duration: 0.5s;

  &:hover {
    opacity: 0.5;
  }
}

.header__main-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  @include null-spacing;
}

.header__label {
  width: 84px;
  height: 50px;
  margin: 58px 0 70px 0;
}

.header__title {
  box-sizing: border-box;
  color: $font-color;
  @include large-text-desktop;
  max-width: 500px;
  padding: 0 0 42px 0;
  margin: 0;
}

.header__subtitle {
  box-sizing: border-box;
  color: $font-color;
  @include medium-text-desktop;
  max-width: 470px;
  padding: 0 0 182px 0;
  margin: 0;
}

.header__board {
  display: block;
  @include desctop-board;
  @include null-spacing;
}

@media screen and (max-width: 1280px) {
  .header {
    background-position: right 160px;
    padding-left: 80px;
  }

  .header__upper-container {
    padding: 0 80px 0 0;
  }
}

@media screen and (max-width: 1080px) {
  .header {
    background-image: url(../../images/tablet-header-circles-blue.svg);
    background-position: right 300px;
    padding-left: 50px;
    padding-bottom: 49px;

    .header__action {
      margin: 0 33px 0 auto;
      font-size: 13px;
      line-height: (16px)/13px;
    }
  }

  .header__upper-container {
    padding: 0 50px 0 0;
  }

  .header__label {
    margin: 60px 0 70px 0;
  }
  .header__subtitle {
    padding: 0 0 60px 0;
  }

  .header__board {
    display: block;
    padding-top: 150px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    background-image: url(../../images/mobile-blue-header.svg);
    background-position: 92% 92px;
    padding: 16px 0 20px 20px;
  }

  .header__upper-container {
    padding: 0 20px 0 0;
  }

  .header__action {
    display: none;
  }

  .register-batton {
    font-size: 10px;
    line-height: (18px)/10px;
    width: 140px;
    height: 30px;
  }

  .header__main-container {
    width: 100%;
    align-items: flex-start;
  }
  .header__label {
    width: 63px;
    height: 40px;
    margin: 50px 0 60px 0;
  }

  .header__title {
    @include large-text-mobile;
    padding: 0 0 20px 0;
    width: 90%;
    max-width: 450px;
  }

  .header__subtitle {
    padding: 0;
    @include medium-text-mobile;
    width: 90%;
    max-width: 350px;
  }

  .header__board {
    @include mobile-board;
    padding-top: 110px;
  }
}
