@use "../../essentials/mixins" as*;
@use "../../essentials/variables" as*;
.logo {
  display: block;
  width: 38px;
  height: 54px;
  @include null-spacing;
}

@media screen and (max-width: 767px) {
  .logo {
    width: 26px;
    height: 36px;
  }

  .logo_footer_size {
    width: 38px;
    height: 54px;
  }
}
