$font-color: rgba(255, 255, 255, 1);
$font-family: 'Noto Sans';
$gen-width: 1440px;
$color-1: rgba(0, 0, 0, 1);
$color-2: rgba(80, 54, 230, 1);
$font-color: rgba(255, 255, 255, 1);
$green: rgba(0, 148, 101, 1);
$font-family: 'Noto Sans';
$hover: rgba(6, 108, 76, 1);

@mixin desctop-button-reg {
  font-weight: 600;
  font-size: 15px;
  line-height: (18px)/15px;
  width: 218px;
  height: 48px;
}

@mixin desctop-board {
  width: 416px;
  height: 104px;
}

@mixin mobile-board {
  width: 280px;
  height: 70px;
}

@mixin large-text-desktop {
  font-size: 70px;
  font-weight: 600;
  line-height: 0.9;
}

@mixin large-text-mobile {
  font-size: 40px;
  font-weight: 600;
  line-height: (36px)/40px;
}

@mixin medium-text-desktop {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.3;
}

@mixin medium-text-mobile {
  font-size: 12px;
  font-weight: 400;
  line-height: (15.6px)/12px;
}

@mixin desktop-photo {
  width: 320px;
  height: 320px;
}

@mixin null-spacing {
  margin: 0;
  padding: 0;
}

.footer {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 80px 0 80px;
  margin: 0;
  background-color: $color-2;
}

.footer__container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include null-spacing;
  gap: 60px;
}

.footer__title {
  @include medium-text-desktop;
  color: $font-color;
  @include null-spacing;
}

.footer__copyright {
  font-size: 15.1px;
  line-height: (20px)/15.1px;
  color: #8e9199;
  padding: 0;
  margin: -40px 0 0;
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 40px 0 40px;
  }

  .footer__container {
    gap: 40px;
  }

  .footer__title {
    @include medium-text-mobile;
  }

  .footer__copyright {
    font-size: 12px;
    line-height: (20px)/12px;
    margin: -30px 0 0;
  }
}
