@use "../../essentials/mixins" as*;
@use "../../essentials/variables" as*;

.swiper {
  display: inline;
  width: 100%;
  min-width: 0;
}

.swiper-pagination {
  bottom: 0;
}

.swiper {
  & .swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    background-color: #fff;
  }

  & .swiper-slide {
    width: auto;
  }
  & .swiper-pagination {
    bottom: 0;
  }

  &.swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    background-color: #fff;
  }
}
