@use "../../essentials/mixins" as*;
@use "../../essentials/variables" as*;

.page {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: $gen-width;
  margin: 0 auto;
  font-family: $font-family, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  padding: 0;
  background-color: $color-1;
}

* {
  box-shadow: 0 0 2px red;
}

.content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  @include null-spacing;

  &.popup-form_active {
    display: none;
  }
}

.logo {
  display: block;
  width: 38px;
  height: 54px;
  @include null-spacing;
}

.register-batton {
  font-family: $font-family;
  background-color: $green;
  border: none;
  border-radius: 8px;
  color: $font-color;
  font-weight: 600;
  font-size: 15px;
  line-height: (18px)/15px;
  width: 218px;
  min-height: 48px;
  cursor: pointer;
  transition: ease-out;
  transition-duration: 0.5s;

  &:hover {
    background-color: $hover;
  }
}

.register-batton__leave {
  max-width: 108px;
  height: 48px;
}
.text-box {
  box-sizing: border-box;
  width: 685px * 100% / $gen-width;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  @include null-spacing;
  z-index: 1;
}

.text-box__title {
  display: block;
  @include large-text-desktop;
  color: $font-color;
  margin: 0;
}

.text-box__subtitle {
  display: block;
  @include medium-text-desktop;
  color: $font-color;
  margin: 0;
}

.text-box_align_right {
  width: 47%;
  align-self: flex-end;
  padding-bottom: 87px;
}

.text-box_block_width {
  width: 70%;
}

.text-box__subtitle_cut_width {
  width: 62%;
}

.form {
  box-sizing: border-box;
  display: flex;
  font-family: $font-family;
  flex-direction: column;
  align-items: center;
  width: 100%;
  @include null-spacing;
  gap: 20px;
}

.form__input {
  box-sizing: border-box;
  width: 100%;
  min-width: 500px;
  height: 48px;
  border: none;
  border-radius: 8px;
  font-family: $font-family;
  font-size: 15px;
  font-weight: 400px;
  line-height: (18px)/15px;
  text-transform: capitalize;
  color: $font-color;
  background-color: #1a1a1a;
  caret-color: #fff;
  padding-left: 28px;

  &:focus {
    outline: 0;
    outline-offset: 0;
    border: 1px solid #5036e6;
  }

  &:hover {
    opacity: 0.6;
    cursor: pointer;
    transition: ease-out;
    transition-duration: 0.3s;
  }

  &:nth-of-type(2) {
    text-transform: none;
  }
}

::-webkit-input-placeholder {
  font-family: $font-family;
  font-size: 15px;
  font-weight: 400px;
  line-height: (18px)/15px;
  color: $font-color;
}
::-moz-placeholder {
  font-family: $font-family;
  font-size: 15px;
  font-weight: 400px;
  line-height: (18px)/15px;
  color: $font-color;
}

.form__handeler {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 233px 0 0;
  gap: 20px;
}

@media screen and (max-width: 1280px) {
  .text-box {
    width: 70%;
  }

  .text-box__subtitle_cut_width {
    width: 60%;
  }

  .text-box_align_right {
    width: 55%;
    padding-bottom: 100px;
  }

  .text-box_block_width {
    width: 80%;
  }
}

@media screen and (max-width: 1080px) {
  .register-batton {
    font-size: 13px;
    line-height: (18px)/13px;
    width: 184px;
    min-height: 44px;
  }

  .register-button_footer_size {
    @include desctop-button-reg;
  }

  .text-box {
    width: 100%;
  }

  .text-box_align_right {
    width: 71%;
    padding-bottom: 58px;
    align-self: flex-end;
  }

  .text-box_block_width {
    width: 80%;
  }

  .text-box__subtitle_cut_width {
    width: 80%;
    max-width: 470px;
  }
}

@media screen and (max-width: 767px) {
  .register-batton {
    font-size: 10px;
    line-height: (18px)/10px;
    width: 140px;
    min-height: 30px;
  }
  .logo {
    width: 26px;
    height: 36px;
  }

  .logo_footer_size {
    width: 38px;
    height: 54px;
  }

  .text-box {
    gap: 20px;
    max-width: 370px;
  }

  .text-box__title {
    @include large-text-mobile;
  }

  .text-box__subtitle {
    @include medium-text-mobile;
  }

  .text-box_block_width {
    width: 100%;
  }

  .text-box_align_right {
    width: 100%;
    padding-bottom: 195px;
    align-self: flex-start;
  }

  .form {
    gap: 10px;
  }
  .form__input {
    min-width: 280px;
    height: 42px;
    padding: 12px 0 12px 18px;
  }

  ::-webkit-input-placeholder {
    font-family: $font-family;
    font-size: 12px;
    line-height: (18px)/12px;
  }
  ::-moz-placeholder {
    font-family: $font-family;
    font-size: 12px;
    line-height: (18px)/12px;
  }

  .form__handeler {
    margin-top: 133px;
  }
}
